@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1f2632;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

